.app {
    height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 70px);
        // background-color: darkgoldenrod;
        position: relative;
        top: 70px;

        // scroll-snap-align起作用的话必须父容器有overflow样式
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        // 隐藏垂直方向的滚动条
        scrollbar-width: none; // for firefox
        //设置滚动的速度
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            display: none;
        }

        >* {
            width: 100%;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}